---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/Page.astro';
import { Image } from 'astro:assets';
import pic1 from '../assets/other/IMG_5268.jpg';
import pic2 from '../assets/other/oprava.jpg';
import BaseHead from '../components/BaseHead.astro';

---


<head>
		<BaseHead title={"About me!"} description={"Learn more about me"} />
	</head>
<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
	<p>
		My name is Marek Procházka and I'm a student at the Technical University of Liberec. I am currently in my 4th semester studying  Information Technologies - Intelligent Systems.
		I also work as an IT Trainee / AI Projects Trainee at ONLINE HOLDING s. r. o. that provides accommodation booking websites across Central and Eastern Europe. 
	</p>
	<Image src={pic1} alt="It's me." width={800} quality="max" class={"pic"}/>		</main>
	<p>
		I have a lot of hobbies and sports interests. My absolute favourites include things like playing the guitar, football, traveling, and obviously spending time with my friends, family, and girlfriend.
		Recently I picked up running and bouldering and I must say both of them have been a blast!
	</p>
	<Image src={pic2} alt="It's me." width={800} quality="max" class={"pic"}/>		</main>
	

</Layout>

<style>
  .pic{
    display: block; 
    margin: 0 auto;
	width: 60%;
  }
</style>