<html lang="cs">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Work in Progress</title>
	</head>
	<body>
		<main>
			<img src="/construction.jpg" alt="Work in progress" />
			<h1>Work in Progress</h1>
		</main>
	</body>
</html>

<style is:global>

	@font-face {
  font-family: 'JBMono';
  /* Cesta začíná lomítkem, protože soubor je ve složce public */
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Důležité: text se zobrazí hned i s náhradním fontem, než se načte tvůj */
}

@font-face {
  font-family: 'JBMono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'JBMono', monospace; /* Monospace je dobrá záloha pro dev web */
}
	/* 1. Vynulujeme okraje prohlížeče */
	html, body {
		margin: 0;
		padding: 0;
		background-color: #13151a; /* Nastavíme stejnou barvu jako má main */
		overflow: hidden; /* Zamezí nechtěnému skrolování */
	}

	/* 2. Zajistíme, aby main zabral opravdu všechno */
	main {
		margin: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #13151a;
		color: white;
		text-align: center;
	}

	img{
		border-radius: 12px;
	}
</style>