---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import profile from '../assets/other/IMG_8317.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Welcome!"} description={"Welcome!"} />
	</head>
	<body>
		<Header />
		<main>
			<div class="first-section">
				<h1>Hello World!</h1>
				
			</div>
			<p>
				Welcome to my dev portfolio! My name is Marek Procházka and I'm so glad you found this page. You'll find more <a href="./about">about me</a> when you click on one of the links in the NavBar.
			</p>

			<Image src={profile} alt="It's me." width={400} height={500} class={"profile"}/>		</main>
		<Footer />
	</body>
</html>

<style>
  .profile{
    display: block; 
    margin: 0 auto;

  }
</style>