---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---


<header class="header-fixed">
  <div class="header-wrapper">
    <svg class="header-svg" viewBox="0 0 1440 160" preserveAspectRatio="none">
      <path d="M0,0 L1440,0 L1440,65 L1150,155 L290,155 L0,65 Z" fill="#f0faf8"></path>
    </svg>

    <svg class="header-svg main-path" viewBox="0 0 1440 160" preserveAspectRatio="none">
      <path class="fillpath" d="M0,0 L1440,0 L1440,60 L1140,150 L300,150 L0,60 Z" fill="#1e1f1e"></path>
    </svg>

    <div class="header-content">
      <div class="brand">
        <h1 class="header-head-text">marek-prochazka</h1>
				<div class="nav-buttons">
        
      </div>
				<a class="btn">About Me</a>
				<a class="btn">Projects</a>
				<a class="btn">My Path</a>
      </div>
			
    </div>
  </div>
</header>

<style>
  


  .header-fixed {
    position: relative; /* Nebo fixed, pokud ho chceš pořád nahoře */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .header-wrapper {
    position: relative;
    width: 100%;
    height: 160px; /* Musí odpovídat výšce SVG */
  }

  .header-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
 
  .main-path {
    z-index: 1;
    /* Mírný posun nahoru, aby vykukovala červená linka dole */
    transform: translateY(-1px);
  }

  .header-content {
		top: 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zarovná vše na střed vodorovně */
    justify-content: flex-start;
    width: 100%;
  }

  .brand {
    text-align: center;
  }

  .header-head-text {
    margin-top: 20px;
    font-size: 2.5rem;
    color: var(--color-primary);
  }

  .sub-text {
    color: #fff;
    letter-spacing: 10px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 10px; /* Vyrovnání kvůli letter-spacing */
  }

  .nav-buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px; /* Toto posune tlačítka přesně do toho výřezu */
  }

  .btn {
		top:0;
    width: 35px;
    height: 35px;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
		padding-left: 30px;
		padding-right: 30px;
    transition: 1s;
  }

  .btn:hover {
    text-shadow: -2px 0 3px var(--color-primary);
  }
</style>